@use '../../styles/variables' as *;

.footer {
  background-color: $color-primary;
  color: $color-white;
  padding: $spacing-md 0;
  margin-top: auto;

  .copyright {
    font-size: 0.9rem;
    opacity: 0.9;
    text-align: center;
  }
}
